{% extends "base.html" %}
{% block content %}
<p>Welcome to <em>LocalLibrary</em>, a very basic Django website developed as an internship pre-assesment project.
    {% block content2 %}
        <h1>Book List</h1>
        {% if book_list %}
        <table style= "border: 3px solid black;">
            <thead>
            <tr">
              <th>Book Title</th>
              <th>Author</th>
              <th>Language</th>
              <th>Genre</th>
            </tr>
            </thead>
            <tbody>
            {% for book in book_list %}
            <tr>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.language}}</td>
            <td>{{book.genre}}</td>
            {% endfor %}
            </tr>
            </tbody>
            </table>
        {% else %}
            <p>There are no books in the library.</p>
        {% endif %}  
    {% endblock %}
{% endblock %}
{% block content3 %}
    <button class="btn btn-success" onclick=" window.open('App')"> Add New Book</button>
{% endblock %}